<p>create works!</p>
<div class="example-button-row">
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button (click)="addWarehouse()" color="primary">Add New</button>
  <button mat-button (click)="getWarehouse()" color="primary">Get Data</button>
</div>


<div  *ngFor="let warehouse of warehouses;let i=index">
   <button (click)="toggleWarehouse(i)">show zones for warehouse:{{warehouse.id}}</button> <button (click)="deleteWarehouse(warehouse.id)" >delete warehouse:{{warehouse.id}}</button>

   <br>
    <div *ngIf="warehouses[i].visible" style="height:5000;margin-left:30px;width:500px">
      <div><button (click)="addZone(warehouses[i].id)">Add Zone:</button></div>
      <div><button (click)="getZone(warehouses[i].id)">Get Zone:</button></div>

  </div>

</div>

